{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Padawans list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Skills</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for padawan in padawans %}
            <tr>
                <td>{{ padawan.id }}</td>
                <td>{{ padawan.name }}</td>
                <td>{{ padawan.email }}</td>
                <td>{{ padawan.skills }}</td>
                <td>
                    <a href="{{ path('padawan_edit', { 'id': padawan.id }) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
