{% extends 'base.html.twig' %}

{% block body %}
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>
                    Unleash your superpowers with a&nbsp;help on an X-Teamer!
                </h1>
                <h2>
                    Awaken Mr. Miyagi within you and help others develop their skills!
                </h2>

                <p>
                    WAX ON, WAX OFF!
                </p>

                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                <div class="register">
                    {% for flash_message in app.session.flashbag.get('notice') %}
                        <div class="flash-notice alert alert-info">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-success" value="Become a Mentor"/>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block footer_button %}
    <div class="container container-become-mentor">
        <a href="{{ path('landing_page') }}" class="btn btn-info btn-ment">Go back to main page</a>
    </div>
{% endblock %}
