{% extends 'admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <h1>Padavan edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit"  class="btn btn-success"/>
    {{ form_end(edit_form) }}

    <hr/>
        <a href="{{ path('padavan_index') }}"  class="btn btn-info">Back to the list</a>
        {{ form_start(delete_form) }}
                <input type="submit" value="Delete"  class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
